<div class="projects-wrapper">
  <h2 class="section-title">Habilidades</h2>
  <p class="intro">
    Estas son algunas de las áreas en las que trabajo y sigo creciendo, combinando desarrollo, calidad y experiencias interactivas.
  </p>

  <div class="project-grid">
    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968282.png" alt="Java" />
        <h3>Java</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python" />
        <h3>Python</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968292.png" alt="JavaScript" />
        <h3>JavaScript</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/4f/Csharp_Logo.png" alt="C Sharp" />
        <h3>C#</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/732/732212.png" alt="Angular" />
        <h3>Angular</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/2702/2702602.png" alt="Spring Boot" />
        <h3>Spring Boot</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968672.png" alt="Git" />
        <h3>Git</h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="project-card">
      <mat-card-content>
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968846.png" alt="Jira" />
        <h3>Jira</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
