/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-grid-tile-content{
  justify-content: left !important;
}

html {
  scroll-behavior: smooth;
}

body{
  width: 100vw;
  background: #020617;
  overflow-x: hidden;
  overflow-y: scroll;
  color: #e2e8f0;
}


